# Binarios, compilados y temporales
*.exe
*.zip
*.tmp
*.log
*~
cuentas_contables_crud
main

# IDEs
.vscode
.scannerwork/

# Variables de entorno
*.env
!template.env

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
